* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #F9F6EE;
}

main {
  min-height: 100vh;
  background: url("https://source.unsplash.com/JqT2Wp5S0Dk") center/cover no-repeat;
  background-position: 40%;
  display: flex;
  flex-direction: column;
  position: relative;
  isolation: isolate;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  background-color: #F9F6EE;
  box-shadow: 0px 5px 15px #896C5E;
  letter-spacing: 0.1rem;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #1F0906;
  padding: 0.5rem;
}

.nav-toggle {
  background: transparent;
  border: 3px solid #210E0D;
  border-radius: 0.3rem;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.nav-toggle .hamburger {
  transition: translate 1s, rotate 1s;
}
.nav-toggle .line {
  stroke-dasharray: 60 31 60 400;
  transition: 1s;
}
.nav-toggle[aria-expanded=true] .line {
  stroke-dasharray: 60 105 60 400;
  stroke-dashoffset: -90;
}
.nav-toggle[aria-expanded=true] .hamburger {
  translate: 2px -2px;
  rotate: 0.125turn;
}

.logo {
  height: 3rem;
}

.links a {
  color: #210E0D;
  font-size: 1.1rem;
  font-variant: small-caps;
  display: block;
  padding: 0.75rem 1rem;
  transition: all 0.3s linear;
}
.links a:hover {
  color: #58382B;
  background: #feebd5;
  padding-left: 1.5rem;
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

.show-links {
  height: 9rem;
}

.banner {
  height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
  color: #FEE6CB;
  padding: 0 0.5rem;
}
.banner .container h1 {
  font-size: 5rem;
  display: block;
  line-height: 2.5rem;
}
.banner .container h1 .little-title {
  font-size: 2rem;
  letter-spacing: 0;
  vertical-align: text-top;
}
.banner .container h1 .paris {
  font-size: 1.2rem;
  font-weight: lighter;
  padding: 1rem 0;
}
.banner .container p {
  max-width: 40rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
  line-height: 1.3rem;
}
.banner .btn-resa {
  letter-spacing: 0.3rem;
  color: #FEE6CB;
  border: 2px solid #FEE6CB;
  background-color: transparent;
  padding: 0.7rem 1.3rem;
  display: inline-block;
  transition: all 0.3s linear;
}
.banner .btn-resa:hover {
  cursor: pointer;
  background-color: #FEE6CB;
  color: #58382B;
}

.banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

footer {
  background-color: #210E0D;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 0.2rem;
  font-size: 1.5rem;
}
.social-icons li {
  background-color: white;
  width: 45px;
  height: 45px;
  border-radius: 0.8rem;
  display: grid;
}
.social-icons li:hover {
  background-color: #58382B;
}
.social-icons a {
  display: grid;
  place-items: center;
  color: #58382B;
}
.social-icons a:hover {
  color: black;
}

@media screen and (min-width: 800px) {
  nav {
    background-color: transparent;
    box-shadow: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    color: #FEE6CB;
    padding: 0;
    width: 50%;
    display: flex;
  }
  .nav-header h2 {
    margin-left: 1rem;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links li {
    outline: 1px solid #896C5E;
  }
  .links a {
    color: #FEE6CB;
    padding: 0;
    margin: 0 1rem;
  }
  .links a:hover {
    background: transparent;
    color: #fcb667;
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
