* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #F9F0E8;
}

main {
  min-height: 100vh;
  background-image: url("https://source.unsplash.com/JqT2Wp5S0Dk");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40%;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  background-color: #F9F6EE;
  box-shadow: 0px 5px 15px #896C5E;
  letter-spacing: 0.1rem;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #1F0906;
  padding: 1rem;
}
.nav-header h1 {
  display: block;
  line-height: 1.5rem;
  font-size: 3rem;
  text-align: center;
}
.nav-header h1 .little-title {
  font-size: 1rem;
  letter-spacing: 0;
  vertical-align: text-top;
}
.nav-header h1 .paris {
  font-size: 1rem;
  font-weight: normal;
}

.nav-toggle {
  background: transparent;
  border: 3px solid #210E0D;
  border-radius: 0.3rem;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.nav-toggle .hamburger {
  transition: translate 1s, rotate 1s;
}
.nav-toggle .line {
  stroke-dasharray: 60 31 60 400;
  transition: 1s;
}
.nav-toggle[aria-expanded=true] .line {
  stroke-dasharray: 60 105 60 400;
  stroke-dashoffset: -90;
}
.nav-toggle[aria-expanded=true] .hamburger {
  translate: 2px -2px;
  rotate: 0.125turn;
}

.logo {
  height: 4rem;
}

.links a {
  color: #210E0D;
  font-size: 1.1rem;
  font-variant: small-caps;
  display: block;
  padding: 0.75rem 1rem;
  transition: all 0.3s linear;
}
.links a:hover {
  color: #773C54;
  background: #e2cbcd;
  padding-left: 1.5rem;
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

.show-links {
  height: 9rem;
}

footer {
  background-color: rgba(51, 51, 51, 0.6);
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 0.2rem;
  font-size: 1.5rem;
}
.social-icons li {
  background-color: white;
  width: 45px;
  height: 45px;
  border-radius: 0.8rem;
  display: grid;
}
.social-icons li:hover {
  background-color: #58382B;
}
.social-icons a {
  display: grid;
  place-items: center;
  color: #58382B;
}
.social-icons a:hover {
  color: black;
}

@media screen and (min-width: 800px) {
  nav {
    margin-top: 1rem;
    background-color: transparent;
    box-shadow: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    color: #FEE6CB;
    padding: 0;
    width: 50%;
    display: flex;
  }
  .nav-header h2 {
    margin-left: 1rem;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links li {
    outline: 1px solid #896C5E;
  }
  .links a {
    color: #FEE6CB;
    padding: 0;
    margin: 0 1rem;
  }
  .links a:hover {
    background: transparent;
    color: #fcb667;
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
