$first-one: #DEC4C7;
$second: #773C54;
$third: #F9F0E8;
$fourth: #786866;
$fifth: #312D2E;
$sixth: #843B62;

//  logo color

$seven: #1F0906;
$seven-b: #210E0D;
$eight: #58382B;
$nine: #896C5E;
$ten: #FEE6CB;

// background colors

$eleven: #F9F6EE
