@media screen and (min-width: 800px){
    nav {
        background-color: transparent;
        box-shadow: none;
    }
    .nav-center {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }
    .nav-header{
        color: $ten;
        padding: 0;
        width: 50%;
        display: flex;
        h2{
            margin-left: 1rem;
        }
    }

    .nav-toggle {
        display: none;
    }
    .links-container {
        height: auto !important;
    }
    .links {
        display: flex;
        li{
            outline: 1px solid $nine;
        }
        a{
            color: $ten;
            padding: 0;
            margin: 0 1rem;
            &:hover{
                background: transparent;
                color: darken($ten, 20%);
                padding: 0;
            }
        }
            
    }
    
}